/* All base sizes are taken from mockup with 1500px width */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  /* fonts */
  --main-font-regular: 400 0.87vw/0.93vw "Roboto Condensed", sans-serif;
  --menu-font: 400 0.87vw/1.67vw "Roboto", sans-serif;

  /* z-index */
  --zindex-bg-img: -5;


  /*   colors   */
  --body-bg: #eaebe3;
  --header-bg: #f7f7f7;
  --menu-bg: #7acec3;;
  --project-header-bg: #ebb240;
  --project-fondue-bg: white;
  --project-potter-bg: #dfe0d9;
  --project-tabano-bg:#e9eae2;
  --project-louis-bg: #5b6f79;
  --project-p22-bg: #eaeaea;
  --project-fiji-bg: red;
  --project-sesann-bg: #fcfcfc;
  --project-alessi-bg: #cecece;
  --project-footer-bg: var(--project-header-bg);
  --studio-header-bg: #ff9b6d;
  --studio-description-bg: #eaebe3;
  --stuff-bg: #eaebe3;
  --news-header-bg: #d4edbf;
  --news-list-bg: #e6eae0;
  --footer-bg: /*#eaebe3*/red;

  --menu-color: white;

  --hamburger-color: white;

  --headline-bg: #40474e; 
  --btn-hover-bg: #d2d5da;
  --line-bg: #d2d5da;
}

* {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

html {
  font: var(--main-font-regular);
  text-transform: uppercase;
}
body {
  background-color: red;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* img as background*/
.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  /*z-index: var(--zindex-bg-img);*/
  object-fit: cover;
}

/* For every defined component add class.
 * There are define color, aspect ratio padding, special
 * elements or unique design
 */
 .container {
  position: relative;
  width: 100%;
  height: 100%;
  /* if you need recalculate padding-bottom for every child = height/width%
   * default value 1:1 = 100%
   */
   padding-bottom: var(--aspect-ratio);
 }

 .grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-auto-rows: auto;
}

.header {
  --aspect-ratio: 47.62%;
  grid-column: span 21;
  grid-row: 1;
  background-color: var(--header-bg);
}

.menu {
  --aspect-ratio: 111.11%;
  grid-column: span 9;
  grid-row: 1;
  background-color: var(--menu-bg);
  color: var(--menu-color);
}

.project-header {
  --aspect-ratio: 111.11%;
  grid-column: span 9;
  grid-row: 2 / 4;
  background-color: var(--project-header-bg);
  overflow: hidden;
}

.project-fondue {
  --aspect-ratio: 71.43%;
  grid-column: span 12;
  grid-row: 2 / 4;
  background-color: var(--project-fondue-bg);
}

.project-potter {
  --aspect-ratio: 55.56%;
  grid-column: span 9;
  grid-row: 2;
  background-color: var(--project-potter-bg);
}

.project-tabano {
  --aspect-ratio: 103.33%;
  grid-column: span 9;
  grid-row: 3 / 5;
  background-color: var(--project-tabano-bg);
}

.project-louis {
  --aspect-ratio: 155%;
  grid-column: span 6;
  grid-row: 4 / 6;
  background-color: var(--project-louis-bg);
}

.project-p22 {
  --aspect-ratio: 62%;
  grid-column: span 15;
  grid-row: 4 / 6;
  background-color: var(--project-p22-bg);
}

.project-fiji {
  --aspect-ratio: 55.56%;
  grid-column: span 9;
  grid-row: 5 / 6;
  background-color: var(--project-fiji-bg);
}

.project-sesann {
  --aspect-ratio: 40%;
  grid-column: span 15;
  grid-row: 6;
  background-color: var(--project-sesann-bg);
}

.project-alessi {
  --aspect-ratio: 100%;
  grid-column: span 6;
  grid-row: 6;
  background-color: var(--project-alessi-bg);
}

.project-footer {
  --aspect-ratio: 66.67%;
  grid-column: span 9;
  grid-row: 6;
  background-color: var(--project-footer-bg);
}

.studio-header {
  --aspect-ratio: 111.11%;
  grid-column: span 9;
  grid-row: 7;
  background-color: var(--studio-header-bg);
}

.studio-description {
  --aspect-ratio: 47.62%;
  grid-column: span 21;
  grid-row: 7;
  background-color: var(--studio-description-bg);
}

.stuff-section {
  --aspect-ratio: 26%;
  grid-column: span 30;
  grid-row: 8;
  background-color: var(--stuff-bg);
}

.news-header {
  --aspect-ratio: 111.11%;
  grid-column: span 9;
  grid-row: 9;
  background-color: var(--news-header-bg);
}

.news-list {
  --aspect-ratio: 111.11%;
  grid-column: span 21;
  grid-row: 9;
  background-color: var(--news-list-bg);
}

.footer {
  --aspect-ratio: 43.33%;
  grid-column: span 30;
  grid-row: 11;
  background-color: var(--footer-bg);
}










.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 0;
}








/* header style */

.header-wrapper {
  position: absolute;
  margin: 5% 0 0 16%;
  width: 15.43%;
}
.logo-img {
  width: 100%;
}

.logo-title {
  width: min-content;
  font-family: var(--main-fsont);
  /* save aspect ratio - font size to viewport width proportion*/
  font-size: 1.2vw;
}

.socials-list {
  margin-top: 38.27%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.social-icon {
  flex: 0 1 16%;
}

.social-icon:hover {
  position: relative;
  opacity: 0.8;
  transform: scale(1.2);
  transition-duration: 0.2s;
}

/* menu style */

.strikethrough {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.strikethrough::before {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -1px;
  width: 160%;
  height: 2px;
  transform: rotate(-48deg);
  transform-origin: 0;
}

.address,
.contacts {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  color: var(--menu-color);
}

.address{
  left: 13%;
  bottom: 38%;
}
.contacts {
  left: 31%;
  bottom: 22%;
}

/* to look at the hamburger.css for details */
.hamburger {
  position: absolute;
  left: 35%;
  top: 10%;
  width: 30%;
  height: 23%;
}

.hamburger:hover,
.hamburger.is-active:hover {
  background-color: var(--project-header-bg);
  border-color: var(--project-header-bg);
}

.hamburger.is-active {
  background-color: var(--project-header-bg);
  border-color: var(--project-header-bg);
}

/* Dropdown Content (Hidden by Default) */
.navigation {
  width: 133.33%;
  height: 23%;
  position: absolute;
  right: 65%;
  top: 10%;
  background-color: var(--project-header-bg);
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  transition-delay: 0.2s;
}

.navigation-item {
  position: relative;
  flex: 0 0 auto;
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

.navigation-item:hover {
  position: relative;
  transform: scale(1.5);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}




.project-item {
 flex: 1;
 flex-flow: column nowrap;
 position: relative;
}
.project-item::before {
  content: "";
  position: absolute;
  left: -35%;
  width: 100%;
  height:100%;
  opacity: 0;
  background-image: url("../images/icons/arrow_icon_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.project-item:hover {
  color: black;
}
.project-item:hover::before {
  opacity: 1;
}





.content-projects {
  position: absolute;
  /* define line length by the width*/
  width: 150%;
  height: 100%;
  border-bottom: 2px solid white;
  transform-origin: 0 100%;
  /* making diagonal */
  transform: rotate(-48deg);
  transition-duration: 0.3s;
  /* it is made container for left and right content */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--bg-container-color);
}

.nav-projects {
  margin-left: 10%;
  transform-origin: 60% 0;
  transform: rotate(48deg);
  transition-duration: 0.3s;
  font-size: 1vw;
}

.container-name {
  position: absolute;
  font-size: 3.2vw;
  font-weight: 400;
  color:#fefefe;
  transform-origin: 0;
  transform: rotate(48deg) translate(35%, 30%);
  transition-duration: 0.3s;
}

.content-projects:hover {
  transition-duration: 0.3s;
  transform: rotate(-48deg) translate(0%, 20%);
}

.content-projects:hover .nav-projects {
  transition-duration: 0.3s;
  transform: scale(3) rotate(48deg) translate(-15%, -70%);
}

.content-projects:hover .container-name {
  transition-duration: 0.3s;
  transform: scale(0.7) rotate(48deg) translate(40%, 60%);
  color: transparent;
  text-shadow: 0 0 0.5em rgba(255,255,255,0.9);
}

.project-rating {
  color: red;
  font-size: 1vw;
}

.heart-rating {
  width: 4%;
}

