/* All aspect ratio calculate from the mockup with 1500px width */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

:root {
  /*   fonts   */
  --main-font: "Roboto Condensed", sans-serif;


  /*   colors   */
  --header-: hsl(68, 17%, 91%);
  --header-highlight: hsl(172, 47%, 65%);
  --header-bg-color: rgba(16,25,41,0.51);
  --text-dark: #333;
  --text-light: white;
  --main-bg-color: #f5f5f5;
  --second-bg-color:#eeeeef;
  --btn-bg-color: #4fc4b0;
  --btn-cap-color: #f5f5f5;
  --headline-color: #40474e; 
  --btn-hover-color: #d2d5da;
  --line-color: #d2d5da;
}

* {
  box-sizing: border-box;
  outline: 1px solid red;
}

html {
  font-family:    var(--main-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.upcase {
  text-transform: uppercase;
}

/*Header section*/

.header-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.content-header {
  grid-column: span 21;
  display: grid;
  /* left margin, logo, image proportions in the header*/
  grid-template-columns: 16% 16% 1fr;
  /*position: relative;*/
  justify-content: center;
  align-items: start;
  background-color: #f7f7f7;
}

/*.logo-container::before {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

*/
.header-img {
  grid-column: 1 / 4;
  grid-row: 1;
}

/* fixed issue in the mockup */
.header-img img {
  margin-left: 4%;
}

.header-logo {
  grid-column: 2;
  grid-row: 1;
  margin-top: 30%
}

.header-logo-img {
  /* save aspect ratio image with same margin-bottom */
  /* 207 / 162 ~ 130%                                */
  position: relative;
  width: 100%;
  padding-bottom: 130%
}
.header-logo-img img {
  /* save aspect ratio image */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-logo-name {
  text-transform: uppercase;
  width: min-content;
  font-family: var(--main-font);
  /* save aspect ratio - font size to viewport width proportion*/
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1;
  color: #383d3c;
}

.header-logo-socials {
  /* 60px / 168px ~ 36% */
  margin-top: 36%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.social-icon {
  flex: 0 16%;
}

/* Navigation section */

.header-menu {
  grid-column: span 9;
  background-color: var(--header-highlight);
  /*padding-top: 100%;*/
  position: relative;
  /*overflow: hidden;*/
}
/* added line*/
.strikethrough {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.strikethrough::before {
  content: "";
  position: absolute;
  bottom: -1px;
  background-color: white;
  width: 149%;
  height: 2px;
  transform: rotate(-47.55deg);
  transform-origin: 0;
  /*z-index: -1;*/
}

.navigation {
  --hover-color: hsl(40, 82%, 58%);
  --animation: all .3s ease-in-out;

  display: flex;
  justify-content: center;
  position: relative;
}
/* look hamburger.css file*/
.hamburger {
  margin: 10%;
}
.hamburger.is-active {
  opacity: 1; 
  background-color: var(--hover-color);
}

/* Dropdown Content (Hidden by Default) */
.navigation-content {
  position: absolute;
  /* proportion navigation height and buttom height */
  top: 21.4%;
  bottom: 21.4%;
  /* offset navigetion content to the right from button */
  right: 63%;
  left: -97%;
  background: var(--hover-color);
  border: 3px solid white;
  opacity: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  transition: var(--animation);
  overflow-x: visible;
}

.navigation-item {
  display: flex;
  justify-content: center;
  color: #fff;
}

.section-item {
  flex: 1;
  flex-flow: row nowrap;
}
.section-item:hover {
  font-size: 1.5em;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  opacity: 1;
}

.adrress {
  display:;
}

/*Projects section*/
.section-projects {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-auto-rows: minmax(min-content, auto);
}

/* For every defined component add container-[child name].
 * There are define color, aspect ratio padding, special elements or
 * unique design 
 */
 .container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* you need recalculate padding-bottom for every child = height/width%
   * default value 1:1 = 100%
   */
   padding-bottom: var(--aspect-ratio);
   background-color: var(--bg-container-color);
 }

 .project-item {
   flex: 1;
   flex-flow: column nowrap;
   position: relative;
 }
 .project-item::before {
  content: "";
  position: absolute;
  left: -35%;
  width: 100%;
  height:100%;
  opacity: 0;
  background-image: url("../images/icons/arrow_icon_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.project-item:hover {
  color: black;
}
.project-item:hover::before {
  opacity: 1;
}





/* projects section */
/* header element */
.container-projects {
  --bg-container-color:    hsl(40, 82%, 58%);
  --aspect-ratio:          111%;

  grid-column: span 9;
  grid-row: 1 / 3;
}

.content-projects {
  position: absolute;
  /* define line length by the width*/
  width: 150%;
  height: 100%;
  border-bottom: 2px solid white;
  transform-origin: 0 100%;
  /* making diagonal */
  transform: rotate(-48deg);
  transition-duration: 0.3s;
  /* it is made container for left and right content */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--bg-container-color);
}

.nav-projects {
  margin-left: 10%;
  transform-origin: 60% 0;
  transform: rotate(48deg);
  transition-duration: 0.3s;
  font-size: 1vw;
}

.container-name {
  position: absolute;
  font-size: 3.2vw;
  font-weight: 400;
  color:#fefefe;
  transform-origin: 0;
  transform: rotate(48deg) translate(35%, 30%);
  transition-duration: 0.3s;
}

.content-projects:hover {
  transition-duration: 0.3s;
  transform: rotate(-48deg) translate(0%, 20%);
}

.content-projects:hover .nav-projects {
  transition-duration: 0.3s;
  transform: scale(3) rotate(48deg) translate(-15%, -70%);
}

.content-projects:hover .container-name {
  transition-duration: 0.3s;
  transform: scale(0.7) rotate(48deg) translate(40%, 60%);
  color: transparent;
  text-shadow: 0 0 0.5em rgba(255,255,255,0.9);
}


/* 2 element */
.container-fondue {
  --bg-container-color:    white;
  --aspect-ratio:          83.3%;

  grid-column: span 12;
  grid-row: 1 / 3;
  background-image: url("../images/foundue_lamp.png");
  display: grid;
  grid-template-columns: 16.7% fit-content 1fr;
  grid-template-rows: repeat(4, auto);
}
.content {
  position: absolute;
}
.project-rating {
  color: red;
  font-size: 1vw;
}
.heart-rating {
  width: 4%;
}

/* 3 element */
.container-potter {
  --bg-container-color:    white;
  --aspect-ratio:          55.5%;
  background-image: url("../images/pilesos_retina.png");

  grid-column: span 9;
  grid-row: 1;
}
.content {
  position: absolute;
}
/* 4 element */
.container-louis {
  --bg-container-color:    red;
  --aspect-ratio:          150%;

  grid-column: span 6;
  grid-row: 3 / 5;
}
.content {
  position: absolute;
}
/* 5 element */
.container-p22 {
  --bg-container-color:    yellow;
  --aspect-ratio:          60%;

  grid-column: span 15;
  grid-row: 3 / 5;
}
.content {
  position: absolute;
}
/* 6 element */
.container-tabano {
  --bg-container-color:    pink;
  --aspect-ratio:          100%;

  grid-column: span 9;
  grid-row: 2 / 4;
}
.content {
  position: absolute;
}
/* 7 element */
.container-fiji {
  --bg-container-color:    white;
  --aspect-ratio:          55.5%;

  grid-column: span 9;
  grid-row: 4;

}
.content {
  position: absolute;
}
/* 8 element */
.container-sesann {
  --bg-container-color:    green;
  --aspect-ratio:          40%;

  grid-column: span 15;
  grid-row: 5;

}
.content {
  position: absolute;
}
/* 9 element */
.container-alessi {
  --bg-container-color:    red;
  --aspect-ratio:          100%;

  grid-column: span 6;
  grid-row: 5;

}
.content {
  position: absolute;
}
/* 10 element */
.container-finish {
  --bg-container-color:    orange;
  --aspect-ratio:          66.7%;

  grid-column: span 9;
  grid-row: 5;

}
