/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
* {
  box-sizing: border-box;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0.2vw solid var(--hamburger-color);
  overflow: visible;
}

.hamburger:hover,
.hamburger.is-active:hover,
.hamburger:active,
.hamburger.is-active:active,
.hamburger:focus,
.hamburger.is-active:focus {
  outline: none;
  outline-offset: 0;
}

.hamburger-box {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 38.7%; /* half free space in the .hamburger */
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 0.2vw;
  background-color: var(--hamburger-color);
  border-radius: 0.2vw;
  position: absolute;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--hamburger-color);
}

/*
 * Spring
 */

.hamburger--spring .hamburger-inner {
  top: 0;
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring .hamburger-inner::before {
  top: 0.67vw;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 0.67vw, 0) rotate(45deg);
}

.hamburger--spring .hamburger-inner::after {
  top: 1.33vw;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 0.67vw, 0) rotate(-45deg);
}
