/* All base sizes are taken from mockup with 1500px width */

:root {
  --size-11: 0.73vw;
  --size-12: 0.8vw;
  --size-13: 0.87vw;
  --size-14: 0.93vw;
  --size-16: 1.1vw;
  --size-18: 1.2vw;
  --size-24: 1.6vw;
  --size-32: 2.1vw;
  --size-48: 3.2vw;

  /* fonts */
  --main-font-regular: 400 var(--size-13)/var(--size-14) "Roboto Condensed", sans-serif;
  --menu-font: 400 var(--size-13)/1.67vw "Roboto", sans-serif;

  /*   colors   */
  --body-bg: #eaebe3;
  --header-bg: #f7f7f7;
  --menu-bg: #7acec3;
  --rating-color: red;
  --project-header-bg: #ebb240;
  --project-fondue-bg: white;
  --project-potter-bg: #dfe0d9;
  --project-tabano-bg: #e9eae2;
  --project-louis-bg: #5b6f79;
  --project-p22-bg: #eaeaea;
  --project-fiji-bg: white;
  --project-sesann-bg: #fcfcfc;
  --project-alessi-bg: #cecece;
  --project-footer-bg: var(--project-header-bg);
  --studio-header-bg: #ff9b6d;
  --studio-description-bg: #eaebe3;
  --staff-bg: #eaebe3;
  --staff-icon-color: #fd5000;
  --news-header-bg: #d4edbf;
  --news-list-bg: #e6eae0;
  --footer-bg: #eaebe3;

  --main-light-color: white;
  --main-dark-color: #333;

  --hamburger-color: white;
}

* {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

html {
  font: var(--main-font-regular);
  text-transform: uppercase;
  color: var(--main-dark-color);
}
body {
  background-color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display: block;
}

/* img as background*/
.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-auto-rows: auto;
}

.header {
  position: relative;
  padding-bottom: 47.62%;
  grid-column: span 21;
  grid-row: 1;
  background-color: var(--header-bg);
}

.menu {
  position: relative;
  padding-bottom: 111.11%;
  grid-column: span 9;
  grid-row: 1;
  background-color: var(--menu-bg);
  color: var(--main-light-color);
}

.projects-header {
  position: relative;
  padding-bottom: 111.11%;
  grid-column: span 9;
  grid-row: 2 / 4;
  background-color: var(--project-header-bg);
  color: var(--main-light-color);
  overflow: hidden;
}

.project-fondue {
  position: relative;
  padding-bottom: 83.33%;
  grid-column: span 12;
  grid-row: 2 / 4;
  background-color: var(--project-fondue-bg);
}

.project-potter {
  position: relative;
  padding-bottom: 55.56%;
  grid-column: span 9;
  grid-row: 2;
  background-color: var(--project-potter-bg);
}

.project-tabano {
  position: relative;
  padding-bottom: 103.33%;
  grid-column: span 9;
  grid-row: 3 / 5;
  background-color: var(--project-tabano-bg);
}

.project-louis {
  position: relative;
  padding-bottom: 155%;
  grid-column: span 6;
  grid-row: 4 / 6;
  background-color: var(--project-louis-bg);
  color: var(--main-light-color);
}

.project-p22 {
  position: relative;
  padding-bottom: 62%;
  grid-column: span 15;
  grid-row: 4 / 6;
  background-color: var(--project-p22-bg);
}

.project-fiji {
  position: relative;
  padding-bottom: 55.56%;
  grid-column: span 9;
  grid-row: 5 / 6;
  background-color: var(--project-fiji-bg);
}

.project-sesann {
  position: relative;
  padding-bottom: 40%;
  grid-column: span 15;
  grid-row: 6;
  background-color: var(--project-sesann-bg);
}

.project-alessi {
  position: relative;
  padding-bottom: 100%;
  grid-column: span 6;
  grid-row: 6;
  background-color: var(--project-alessi-bg);
}

.projects-footer {
  position: relative;
  padding-bottom: 66.67%;
  grid-column: span 9;
  grid-row: 6;
  background-color: var(--project-footer-bg);
  color: var(--main-light-color);
  overflow: hidden;
}

.studio-header {
  position: relative;
  padding-bottom: 111.11%;
  grid-column: span 9;
  grid-row: 7;
  color: var(--main-light-color);
  background-color: var(--studio-header-bg);
  overflow: hidden;
}

.studio-description {
  position: relative;
  padding-bottom: 47.62%;
  grid-column: span 21;
  grid-row: 7;
  background-color: var(--studio-description-bg);
}

.staff-header {
  position: relative;
  grid-column: span 9;
  grid-row: 8;
  background-color: var(--staff-bg);
}

.staff {
  position: relative;
  grid-column: span 21;
  grid-row: 8;
  background-color: var(--staff-bg);
}

.news-header {
  position: relative;
  padding-bottom: 111.11%;
  grid-column: span 9;
  grid-row: 9;
  background-color: var(--news-header-bg);
  overflow: hidden;
}

.news-list {
  position: relative;
  grid-column: span 21;
  grid-row: 9;
  background-color: var(--news-list-bg);
}

.map {
  position: relative;
  grid-column: span 15;
  grid-row: 10;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  position: relative;
  grid-column: span 15;
  grid-row: 10;
  background-color: var(--footer-bg);
}


/* header style */
.content-header {
  position: absolute;
  margin: 3.33vw 0 0 11vw;
  width: 11vw;
}

.logo-title {
  width: min-content;
  /* save aspect ratio - font size to viewport width proportion*/
  font-size: var(--size-18);
  line-height: var(--size-18);

}

.socials-list {
  margin-top: 4vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.social-icon {
  flex: 0 1 16%;
  height: 1.6vw;
  position: relative;
}

.social-icon:hover {
  position: relative;
  opacity: 0.8;
  transform: scale(1.2);
  transition-duration: 0.2s ease-in-out;
}

/* menu style */
.strikethrough {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.strikethrough::before {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -1px;
  width: 160%;
  height: 2px;
  opacity: 0.8;
  transform: rotate(-48deg);
  transform-origin: 0;
}

.address,
.contacts {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
}

.address{
  left: 13%;
  bottom: 38%;
}
.contacts {
  left: 31%;
  bottom: 22%;
}

/* to look at the hamburger.css for details */
.hamburger {
  right: 11vw;
  top: 3.33vw;
  width: 9vw;
  height: 8vw;
}

.hamburger:hover,
.hamburger.is-active:hover {
  background-color: var(--project-header-bg);
  border-color: var(--project-header-bg);
}

.hamburger.is-active {
  background-color: var(--project-header-bg);
  border-color: var(--project-header-bg);
}

/* Dropdown Content (Hidden by Default) */
.main-navigation {
  width: 40vw;
  height: 8vw;
  position: absolute;
  right: 19vw;
  top: 3.33vw;
  background-color: var(--project-header-bg);
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  transition-delay: 0.3s;
}

.main-navigation-item {
  position: relative;
  flex: 0 0 auto;
  color: #fff;
  transition: 0.3s ease-in-out 0s;
}

.main-navigation-item:hover {
  position: relative;
  transform: scale(1.5);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
 * container when the user clicks on the dropdown button)
 * */
 .show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}


/* projects header */
/* common class */
.projects-line {
  position: absolute;
  /* define line length by the width*/
  width: 150%;
  height: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  transform-origin: 0 100%;
  /* making diagonal */
  transform: rotate(-48deg);
  background-color: var(--project-header-bg);
  transition: 0.3s ease-in-out;
}
/* common class */
.header-title {
  position: absolute;
  bottom: 30%;
  left: 45%;
  font-size: var(--size-48);
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
/* common class */
.projects-nav {
  position: absolute;
  top: 35%;
  left: 35%;
  transition: 0.3s ease-in-out;
}

@media  screen and (min-width: 1201px) {
  .projects-header:hover .projects-line {
    transform: rotate(-48deg) translate(0, 20%);
  }
  .projects-header:hover .projects-nav {
    transform: scale(3);
  }
  .projects-header:hover .header-title {
    transform: scale(0.7) translate(25%, 300%);
    color: transparent;
    text-shadow: 0 0 0.5em rgba(255,255,255,0.9);
  }
}

.project-item {
  position: relative;
  display: block;
  color: var(--main-light-color);
}
.project-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height:100%;
  opacity: 0;
  left: -30%;
  background-image: url("../images/icons/arrow_icon_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.project-item:hover {
  color: black;
}
.project-item:hover::before {
  opacity: 1;
}


/* common class */
.content {
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: 300;

  --project-title-size: var(--size-24);
  --project-feature-size: var(--size-12);
  --project-link-size: var(--size-18);
  --project-rating-size: var(--size-11);
}

/* fondue lamp */
.content-fondue {
  /*.content class set position: absolute*/
  /* space in the containers */
  padding-top: 15%;
  padding-left: 18%;
  padding-right: 50%;
}
/* common class */
.project-title {
  white-space: nowrap;
  margin-bottom: 1.1vw;
  font-size: var(--project-title-size);
}
/* common class */
.project-features {
  height: 73%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
}
/* common class */
.feature-item {
  white-space: nowrap;
  font-size: var(--project-feature-size);
}
/* common class */
.feature-title {
  text-transform: uppercase;
  font-weight: 700;
}
/* common class */
.project-link {
  position: relative;
  display: block;
  margin-left: 1.5em;
  font-size: var(--project-link-size);
}
/* common class */
.project-link::before {
  content: "";
  position: absolute;
  left: -1.5em;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: url("../images/icons/arrow_icon_orange.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* common class */
.project-link:hover::before {
  opacity: 1;
}
/* common class */
.rating {
  width: 1.6vw;
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-content: center;
}
.rating-value {
  margin-top: 0.5vw;
  font-size: var(--project-rating-size);
  color: var(--rating-color);
}

/* potter potter */
.content-potter {
  padding-top: 7%;
  padding-left: 9%;
  padding-right: 55%;
}
.content-potter .feature-item {
  white-space: normal;
  height: 78%;
  text-transform: none;
}

/* louis xx */
.content-louis {
  /*.content class set position: absolute*/
  padding-top: 14%;
  padding-left: 11%;
  padding-right: 30%;
}
.content-louis .project-features {
  height: 35%;
}
.content-louis .rating::before {
  background-image: url("../images/icons/heart_icon_light.svg");
}

/* p22 */
.content-p22 {
  /*.content class set position: absolute*/
  padding-top: 13%;
  padding-left: 49%;
  padding-right: 9%;
}
.content-p22 .project-features {
  height: 16%;
}

/* tabano */
.content-tabano {
  /*.content class set position: absolute*/
  padding-top: 78%;
  padding-left: 13%;
  padding-right: 13%;
}
.content-tabano .project-features {
  flex-flow: row wrap;
}

.content-tabano .rating {
  align-self: flex-start;
}

/* fiji */
.content-fiji {
  /*.content class set position: absolute*/
  padding-top: 11%;
  padding-left: 54%;
  padding-right: 13%;
}
.content-fiji .project-features {
  height: 70%;
}

/* sesann */
.content-sesann {
  /*.content class set position: absolute*/
  padding-top: 28%;
  padding-left: 21%;
  padding-right: 20%;
}

.content-sesann .project-features {
  flex-flow: row wrap;
}
.content-sesann .project-link,
.content-sesann .features-list {
  flex: 2;
}

.content-sesann .rating {
  align-self: flex-start;
}

/* alessi */
.content-alessi {
  /*.content class set position: absolute*/
  padding-top: 27%;
  padding-left: 53%;
  padding-right: 10%;
}
.content-alessi .project-link {
  margin-left: 0%;
}
.content-alessi .project-features {
 height: 60%;
}
/* projects footer */

.projects-footer .header-title {
  color: var(--main-dark-color);
}

.projects-footer .projects-nav {
  top: 30%;
  left: 20%;
}

.projects-footer .project-item::before {
  left: -80%;
}

@media  screen and (min-width: 1201px) {
  .projects-footer:hover .projects-line {
    transform: rotate(-48deg) translate(0, 45%);
  }
  .projects-footer:hover .projects-nav {
    transform: scale(3) translate(50%, 10%);;
  }
  .projects-footer:hover .header-title {
    transform: scale(0.7) translate(50%, 100%);
    color: transparent;
    text-shadow: 0 0 0.5em rgba(0,0,0, 0.8);
  }
}


/* studio */
.studio-header .projects-line{
  background-color: var(--studio-header-bg);
}

@media  screen and (min-width: 1201px) {
  .studio-header:hover .projects-line {
    transform: rotate(-48deg) translate(0, 20%);
  }
  .studio-header:hover .projects-nav {
    transform: scale(3);
  }
  .studio-header:hover .header-title {
    transform: scale(0.7) translate(25%, 300%);
    color: transparent;
    text-shadow: 0 0 0.5em rgba(255,255,255,0.9);
  }
}

/* studio description*/
.content-studio {
  padding-top: 9%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

}

.left-content-studio {
  padding: 0 4% 0 11%;
  flex: 0 0 48%;
  text-transform: none;
}

.md-studio-title {
  display: none;
  text-transform: uppercase;
  font-size: var(--size-18);
  font-weight: 700;
  margin-bottom: 1em;
}

.header-text {
  font-size: var(--size-18);
  line-height: var(--size-18);
  font-style: italic;
  font-weight: 400;

}

.main-text {
  font-size: var(--size-18);
  line-height: var(--size-16);
  font-weight: 300;
}

.right-content-studio {
  flex: 0 0 34%;
}

.awards-info {
  margin: 0 1%;
}

.awards-title {
  margin-top: 3vw;
  margin-bottom: 1.6vw;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: var(--size-14);
  line-height: var(--size-18);
  font-weight: 700;
}

.awards-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--size-12);
}
.awards{
  flex: 0 0 43%;
  display: flex;
  flex-flow: column nowrap;
}

/* stuff */
.staff-header {
  padding: 14% 8% 22% 36%;
}

.staff-title {
  font-size: var(--size-14);
  line-height:  var(--size-14);
  font-weight: 400;
  margin-bottom: 1.3em;
}

.staff-description {
  font-size: var(--size-12);
  line-height:  var(--size-18);
  text-transform: none;
  font-weight: 300;
  margin-bottom: 1.3em;
}

.content-staff {
  padding: 6% 0%;
  margin: 0 -1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.staff-cv {
  flex: 0 0 26%;
  margin: 0 1%;
}

.cv-info {
  margin: 0 1%;
}

.cv-name {
  margin-top: 1.2vw;
  font-weight: 700;
  line-height: var(--size-16);
}

.cv-position {
  font-weight: 700;
  line-height: var(--size-16);
}

.cv-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4vw;
}

.profile-link {
  position: relative;
  display: block;
  font-size: var(--size-14);
  color: var(--staff-icon-color);
}

.profile-link::after {
  content: "";
  position: absolute;
  width: 110%;
  height:110%;
  opacity: 0;
  right: -150%;
  background-image: url("../images/icons/arrow_icon_orange_revers.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-link:hover::after {
  opacity: 1;
}

.socials-link {
  width: 33%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.link-item {
  opacity: 1;
  flex: 0 0 20%;
}

.link-item:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.news-header .projects-line {
  background-color: var(--news-header-bg);
}

.news-header .header-title {
  color: var(--main-light-color);
}


@media  screen and (min-width: 1201px) {
  .news-header:hover .projects-line {
    transform: rotate(-48deg) translate(0, 20%);
  }
  .news-header:hover .projects-nav {
    transform: scale(3);
  }
  .news-header:hover .header-title {
    transform: scale(0.7) translate(25%, 300%);
    color: transparent;
    text-shadow: 0 0 0.5em rgba(255,255,255,0.9);
  }
}
/* added grid */
.news-list {
  display: grid;
  grid-column-gap: 3%;
  grid-template-columns: 6% 35% 35%;
  grid-template-rows: 15% repeat(4, auto) 15%;
  grid-template-areas:
  ". . ."
  ". title-1 title-2"
  ". date-1 date-2"
  ". img-1 img-2"
  ". text-1 text-2"
  ". link-1 link-2";
}

.news-1-title {
  grid-area: title-1;
  font-size: var(--size-24);
  font-weight: 700;
  line-height: var(--size-24);
  padding: 0 1%;
}
.news-2-title {
  grid-area: title-2;
  font-size: var(--size-24);
  font-weight: 700;
  line-height: var(--size-24);
  padding: 0 1%;
}

.news-1-date {
  grid-area: date-1;
  font-size: var(--size-12);
  line-height: var(--size-24);

  padding: 0 1%;
}
.news-2-date {
  grid-area: date-2;
  font-size: var(--size-12);
  line-height: var(--size-24);
  align-self: start;
  padding: 0 1%;
}

.news-1-img {
  grid-area: img-1;
}
.news-2-img {
  grid-area: img-2;
}

.news-1-text {
  grid-area: text-1;
  text-align: justify;
  text-transform: none;
  font-size: var(--size-12);
  line-height: var(--size-14);
  padding: 0 1%;
  margin: 6% 0 3% 0;
}
.news-2-text {
  grid-area: text-2;
  text-align: justify;
  text-transform: none;
  font-size: var(--size-12);
  line-height: var(--size-14);
  padding: 0 1%;
  margin: 6% 0 3% 0;
}

.news-1-link {
  grid-area: link-1;
  justify-self: end;
  color: var(--staff-icon-color);
  padding: 0 1%;
}
.news-2-link {
  grid-area: link-2;
  justify-self: end;
  color: var(--staff-icon-color);
  padding: 0 1%;
}
.news-1-link:hover,
.news-2-link:hover {
  opacity: 0.7;
  transform-origin: 50% 0%;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.footer {
  padding: 20% 25% 5% 15%;
}
.footer .address {
  position: static;
  margin-bottom: 1.2vw;
}
.footer .contacts {
  position: static;
  margin-bottom: 21vw;
}
.copyright {
  font-size: var(--size-12);
}
.footer-logo {
 float: right;
 width: 11vw;
}



@media  screen and (max-width: 1200px) {

  .md-100-p {
    padding-bottom: 40%;
    grid-column: span 30;
  }

  .md-50-p {
    padding-bottom: 70%;
    grid-column: span 15;
  }

  .md-hide {
    padding-bottom: 0%;
    grid-column: span 30;
  }

  .social-icon .bg-img {
    object-fit: contain;
  }

  .menu {
    grid-row: 2;
    color: var(--main-dark-color);
  }

  .address,
  .contacts {
    flex-flow: column nowrap;
    font-size: 1.5em;
    right: 0;
    bottom: 0;
    top: -8vw;
  }

  .address {
    left: 11vw;
  }

  .contacts {
    left: 25vw;
  }

  .hamburger {
    right: 8vw;
    top: -36vw;
    border-color: var(--menu-bg);
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: var(--menu-bg);
  }

  .hamburger:hover .hamburger-inner,
  .hamburger.is-active:hover .hamburger-inner,
  .hamburger:hover .hamburger-inner::before,
  .hamburger.is-active:hover .hamburger-inner::before,
  .hamburger:hover .hamburger-inner::after,
  .hamburger.is-active:hover .hamburger-inner::after {
    background-color: var(--main-light-color);
  }

  .main-navigation {
    font-size: 1.5em;
    right: 17vw;
    top: -36vw;
  }

  .projects-header {
    grid-row: 3;
  }
  .projects-header .projects-line {
    transform: rotate(-48deg) translate(0, 40%);
  }
  .projects-header .projects-nav {
    transform: scale(4);
  }
  .projects-header .header-title {
    transform: scale(0.7) translate(100%, 300%);
  }

  .bg-img {
    object-fit: cover;
  }

  .content {
    padding: 10%;
    --project-title-size: var(--size-32);
    --project-feature-size: var(--size-18);
    --project-link-size: var(--size-24);
    --project-rating-size: var(--size-18);
  }
  .rating {
    width: 2.5vw;
  }

  .project-fondue {
    grid-row: 3;
  }
  .project-fondue .project-features {
    width: 40%;
  }

  .project-potter {
    grid-row: 4;
  }
  .project-potter .project-features {
    width: 40%;
  }
  .project-potter .bg-img {
    object-position: -10vw 0;
  }

  .project-louis {
    grid-row: 4;
  }
  .project-louis .project-features {
    width: 80%;
    height: 24%;
  }
  .project-louis .bg-img {
    object-position: 0 -30vw;
  }

  .project-p22 {
    grid-row: 5;
  }
  .project-p22 .project-features {
    margin-left: auto;
    width: 50%;
    height: 24%;
  }
  .project-p22 .project-title {
    margin-left: auto;
    width: 50%;
  }
  .project-p22 .bg-img {
    object-position: 0 -7vw;
  }

  .project-tabano {
    grid-row: 6;
  }
  .project-tabano .project-features {
    flex-flow: column nowrap;
    width: 35%;
  }
  .project-tabano .rating {
    align-self: center;
  }
  .project-tabano .bg-img {
    object-position: 9vw 0vw;
  }

  .project-fiji {
    grid-row: 6;
  }
  .project-fiji .project-features {
    margin-left: auto;
    width: 35%;
  }
  .project-fiji .project-title {
    margin-left: auto;
    width: 35%;
  }
  .project-fiji .bg-img {
    object-position: -3vw -1vw;
  }

  .project-sesann {
    grid-row: 7;
  }
  .content-sesann {
    padding: 24% 10% 5% 20%;
  }
  .project-sesann .project-features {
    width: 80%;
  }

  .project-alessi {
    grid-row: 8;
  }
  .project-alessi .project-features {
    margin-left: auto;
    width: 35%;
  }
  .project-alessi .project-title {
    margin-left: auto;
    width: 35%;
  }

  .projects-footer {
    grid-row: 8;
  }
  .projects-footer .projects-line {
    transform: rotate(-48deg) translate(0, 40%);
  }
  .projects-footer .projects-nav {
    transform: scale(4) translate(100%, 20%);;
  }
  .projects-footer .header-title {
    transform: scale(0.7) translate(100%, 200%);
  }

  .studio-header {
    grid-row: 9;
  }
  .md-studio-title {
    display: block;
  }
  .studio-description {
    padding-bottom: 45%;
    grid-row: 10;
  }
  .right-content-studio {
    flex: 0 0 50%;
  }
  .left-content-studio {
    padding: 0 4%;
    flex: 0 0 50%;
  }

  .staff-header {
    grid-row: 11;
    display: none;
  }
  .staff {
    grid-row: 12;
    padding-bottom: 25%;
  }
  .content-staff {
    padding: 0 10%;
    justify-content: center;
  }
  .staff-cv {
    flex: 0 0 calc(100% / 3);
  }
  .profile-link {
    font-size: var(--size-18);
  }

  .news-header {
    grid-row: 13;
  }

  .news-list {
    padding-bottom: 10%;
    grid-row: 14;
  }
  .news-list {
    display: grid;
    grid-column-gap: 4%;
    grid-template-columns: 3% 40% 40%;
    grid-template-rows: 15% repeat(4, auto) 15%;
  }
  .news-1-text,
  .news-2-text {
    font-size: var(--size-18);
    line-height: var(--size-18);
  }

  .map {
    grid-row: 15;
    grid-column: span 20;
  }

  .footer {
    grid-row: 15;
    grid-column: span 10;
    padding: 10%;
  }
  .footer .address,
  .footer .contacts {
    flex-flow: column nowrap;
  }

}